fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.1
sqlmodel==0.0.22
requests==2.32.3
beautifulsoup4==4.12.3
feedparser==6.0.11
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rapidfuzz==3.11.0
python-multipart==0.0.20
streamlit==1.41.1
pandas==2.2.3
python-dotenv==1.0.1
openai==1.59.6
trafilatura==2.0.0

APScheduler==3.10.4
email-validator==2.2.0

alembic==1.14.0

psycopg2-binary==2.9.10
